.grid{
    margin: 100px 0, 0;
}

.btn {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  /* -webkit-user-select: none; */
  width: auto;
}
/* 
.btn{
    margin-top: 15px;
    margin-bottom: 15px;  
} */
